@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Breadcrumbs
 */
.breadcrumbs li {
    @apply font-bold;
}

.breadcrumbs li > a {
    @apply font-normal;
}
/**
 * /Breadcrumbs
 */

/**
 * Modal
 */
.modal-box {
    max-height: 95vh;
    overflow-y: auto;
}

.modal-action {
    @apply items-center;
}

.modal-xxl .modal-box {
    max-width: 95vw;
}
/**
 * /Modal
 */